.modal {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}
.modalBody {
    position: relative;
    z-index: 3;
    display: block;
    margin: auto;
    padding: 15px;
    background: #FFF;
    text-align: center;
}