.formControl > div {
    margin: 10px;
}

.formControl.error input {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    color: red;
    border: 2px red solid;
}