body {
  background-color: #ededed;
}

.control-panel {
  background-color: #FFFFFF;
  padding-top: 20px;
}

.btn-close {
  text-align: right;
  cursor: pointer;
}

.control-panel h4 {
  margin: 5% 0;
}
.App {
  text-align: center;
}

.card-ticket {
  margin: 15px;
  max-width: 470px;
}

.card-panel {
  margin: 20px;
  padding: 15px;
}